    .bisillah{
        color: black;
        font-size: 15px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color:#e8effaff;
        padding: 10px 0px 3px 0px;
        border-bottom: 2px solid #dce7f7 ;
        letter-spacing: 2.5px;
        text-transform: capitalize;
        text-shadow: 3px;

    }

    .first-half{
        width: 40%;
        float: left;
        height: 300px;
    }
    .image-profile{
        width: 50%;
        float: right;
        height: 300px;
    }
    .image-profile img{
    background-image: url(/pngtree-abstract-modern-background-circle-with-geometric-shape-png-image_2256512-removebg-preview.png);

    border-radius: 30%;
    border: 0.1px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

    }
    .first-half h1::first-letter{
        font-size: 40px;
        color: aqua;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;

    }
    .first-half{
        margin-top: 130px;
    }

    .first-half h1{
        color: #1FAA59;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
    .first-half h3{
        color: #02B290;
        letter-spacing: 2px;
        font-family: 'Times New Roman', Times, serif;
    }
    .first-half p{
        margin-top: 15px;
        color: #EDC126;
        font-family: Arial, Helvetica, sans-serif;
    }